canvas
{
	position: relative;
	border: 1px solid black;
	float: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index: 0;
	display: none;
}

.wrapper
{
	position: relative;
}

.infoBox
{
	border: 1px solid black;
	width: 40px;
	font-size: 12px;
	height: 500px;
	margin-top: 3px;
	overflow: scroll;
	overflow-x: hidden;
	float:left;
	width: 145px;
	margin-left: 3px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: none;
}

.infoBoxSmall
{
	border: 1px solid black;
	width: 40px;
	font-size: 16px;
	margin-top: 3px;
	overflow-x: hidden;
	float:left;
	width: 145px;
	margin-left: 3px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: none;
}

.selBox
{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 145px;
	margin-left: 3px;
	border: 1px solid black;
	font-size: 14px;
	height: 16px;
	float:left;
	padding-left: 2px;
	overflow: hidden;
	display: none;
}

.clear
{
	clear: both;
	display: none;
}

.loading
{
	width: 100%;
	text-align: center;
}

.loading > .status
{
	color: darkgrey;
}

.infoPopup
{
	color: lime;
	font-weight: bold
	font-size: 20px;
	z-index: 1000;
	position: absolute;
}