canvas
{
	position: relative;
	border: 1px solid black;
	float: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index: 0;
	display: none;
}

.wrapper
{
	position: relative;
}

.infoBox, .infoBoxSmall, .selBox, .players, .chat
{
	border: 1px solid black;
	width: 40px;
	margin-top: 3px;
	float:left;
	width: 145px;
	margin-left: 3px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: none;
}

.infoBox
{
	height: 400px;
	font-size: 12px;
	overflow: scroll;
	overflow-x: hidden;
}

.infoBoxSmall
{
	font-size: 16px;
	overflow-x: hidden;
}

.chat
{
	height: 235px;
}

.selBox
{
	font-size: 14px;
	height: 16px;
	padding-left: 2px;
	overflow: hidden;
}

.clear
{
	clear: both;
	display: none;
}

.loading
{
	width: 100%;
	text-align: center;
}

.loading > .status
{
	color: darkgrey;
}

.infoPopup
{
	color: lime;
	font-weight: bold
	font-size: 20px;
	z-index: 1000;
	position: absolute;
}

.infoPopup2
{
	color: darkgreen;
	background-color: rgba(50,255,50,0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-weight: bold
	font-size: 20px;
	z-index: 1000;
	position: absolute;
}

.colorpreview
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top: 4px;
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid grey;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
}
.players
{
	height: 144px;
	padding: 3px;
	width: 134px;
}
